@import "./common.scss";

.board-wrapper {
  @extend .no-select;

  grid-area: "boards";
  background-color: var(--default-color-bg);

  // margin-top: 2.1rem;
  padding: 1rem 0;

  display: flex;
  overflow-y: auto;
  overflow-x: hidden;

  justify-content: center;
  align-items: center;
  gap: 26px 18px;

  flex-wrap: wrap;

  flex: 1;
}

.board {
  place-items: center;
}
.board.lingle {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
  grid-template-rows: repeat(6, 1em);
  font-size: clamp(1.4rem, 6.8vh, 3.5rem);
}
.board.duolingle {
  grid-column: auto / span 2;
  grid-row: 1 / span 2;
  grid-template-rows: repeat(7, 1em);
  font-size: clamp(1.4rem, 5.6vh, 4rem);
}

.board.quadlingle {
  // width: calc(50% - 2em);
  grid-column: auto auto;
  grid-row: 1 / span 2;
  grid-template-rows: repeat(9, 1em);
  font-size: clamp(1.4rem, 4.6vh, 4rem);
}

.board.octolingle {
  // grid-column: auto auto;
  // grid-row: 1 / span 2;
  grid-template-rows: repeat(13, 1em);
  font-size: clamp(1.4rem, 5.7vh, 4rem);
}

.board {
  display: grid;
  gap: 0.44em;

  .row.letters {
    .letter {
      aspect-ratio: 1 / 1;
    }

    &.locked .focused {
      --self-color-bd: var(--letter-locked-color-bd);
      position: relative;
      &::after {
        content: "🔒";
        position: absolute;
        top: -0.4em;
        right: -0.4em;
        font-size: 0.2em;
        background-color: var(--letter-locked-color-bd);
        border-radius: 50%;
        padding: 0.2em;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .board.lingle {
    font-size: clamp(1.2rem, 10vw, 10rem) !important;
  }
}
@media screen and (max-width: 600px) {
  .board.duolingle {
    font-size: clamp(1.2rem, 6.2vw, 3.8rem) !important;
  }
  .board.quadlingle {
    font-size: clamp(1.2rem, 5.2vw, 3.8rem) !important;
  }
  .board.octolingle {
    font-size: clamp(1.2rem, 5.2vw, 3.8rem) !important;
  }
}
