@import "./common.scss";
@import "./letter.scss";

.board-wrapper {
  @extend .no-select;

  grid-area: "boards";
  background-color: var(--default-color-bg);

  // margin-top: 2.1rem;
  padding: 1rem 0;

  display: grid;
  overflow-y: visible;
  overflow-x: hidden;
  place-items: center;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
}

.board.lingle {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
  grid-template-rows: repeat(6, 1em);
  font-size: clamp(1.4rem, 6.8vh, 3.5rem);
}
.board.duolingle {
  grid-column: auto / span 2;
  grid-row: 1 / span 2;
  grid-template-rows: repeat(7, 1em);
  font-size: clamp(1.4rem, 5.6vh, 4rem);
}
.board {
  display: grid;
  gap: 0.44em;

  .row.letters {
    .letter {
      aspect-ratio: 1 / 1;
    }

    &.locked .focused {
      --self-color-bd: var(--letter-locked-color-bd);
      position: relative;
      &::after {
        content: "🔒";
        position: absolute;
        top: -0.4em;
        right: -0.4em;
        font-size: 0.2em;
        background-color: var(--letter-locked-color-bd);
        border-radius: 50%;
        padding: 0.2em;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .board.lingle {
    font-size: clamp(1.2rem, 10vw, 10rem) !important;
  }

}
@media screen and (max-width: 600px) {
  .board.duolingle {
    font-size: clamp(1.2rem, 6.2vw, 3.8rem) !important;
  }
}
