.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  position: relative;
  overflow: visible !important;

  color: var(--default-color-accent) !important;

  transition: color 80ms ease;
  &:visited {
    color: var(--default-color-fg);
  }
  &:hover,
  &:focus {
    color: var(--default-color-accent) !important;
    &:after {
      width: 100%;
    }
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);

    width: 0%;
    height: 4px;
    background: var(--default-color-accent);
    opacity: 0.6;
    transition: width 60ms ease-in-out;
  }
}

:is(i) {
  font-weight: normal !important;
}
