@font-face {
  font-family: "Mitr";
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/Mitr-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Mitr";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/Mitr-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Mitr";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/Mitr-Bold.woff2") format("woff2");
}
