@import "./common.scss";

.keyboard-wrapper {
  @extend .no-select;

  background-color: var(--default-color-bg);

  display: grid;
  place-items: center;
  grid-area: "keyboard";
}

.keyboard {
  width: min(700px, 100%);
  height: 90%;
  position: relative;

  .row {
    max-width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.05rem;
    font-size: clamp(1.2rem, 2vw, 1.4rem);

    &:last-of-type {
      margin-bottom: 0;
    }

    .key {
      @extend .btn;
      --self-left-bg: var(--key-color-bg);
      --self-right-bg: var(--key-color-bg);

      height: 90%;
      width: 8%;
      margin: 0 min(0.2rem, 0.6%);

      i {
        color: var(--key-color-fg);
      }

      display: grid;
      place-items: center;
      font-size: 1em;

      border-radius: 4px;
      border: none;

      background-image: linear-gradient(
        90deg,
        var(--self-left-bg) 50%,
        var(--self-right-bg) 50%
      );
      color: var(--key-color-fg);
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

      text-transform: uppercase;
      font-weight: 500;

      transition-duration: 496ms;
      transition-timing-function: ease;
      transition-property: background-image, color;

      &.special {
        &.backspace {
          margin-left: 0.3rem;
          --self-width: min(4.8rem, 11%);
        }
        &.enter {
          margin-left: 0.5rem;
          --self-width: min(7rem, 22.2%);
        }
        width: var(--self-width);
      }

      &.wrong,
      &.wrong-left.wrong-right {
        --self-left-bg: var(--key-wrong-color-bg);
        --self-right-bg: var(--key-wrong-color-bg);
        color: var(--key-wrong-color-fg);
      }
      &.right,
      &.right.left.right-right {
        --self-left-bg: var(--key-right-color-bg);
        --self-right-bg: var(--key-right-color-bg);
        color: var(--key-right-color-fg);
      }
      &.occur,
      &.occur-left.occur-right {
        --self-left-bg: var(--key-occur-color-bg);
        --self-right-bg: var(--key-occur-color-bg);
        color: var(--key-occur-color-fg);
      }

      &.wrong-left {
        --self-left-bg: var(--key-wrong-color-bg);
      }
      &.wrong-right {
        --self-right-bg: var(--key-wrong-color-bg);
      }
      &.right-left {
        --self-left-bg: var(--key-right-color-bg);
      }
      &.right-right {
        --self-right-bg: var(--key-right-color-bg);
      }
      &.occur-left {
        --self-left-bg: var(--key-occur-color-bg);
      }
      &.occur-right {
        --self-right-bg: var(--key-occur-color-bg);
      }

      &.highlighted {
        opacity: 0.7;
      }
    }
  }
}
