@keyframes shake {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-20px);
  }
  30% {
    transform: translateX(20px);
  }
  45% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  75% {
    transform: translate(-5px);
  }
  90% {
    transform: translate(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  49.261% {
    transform: translateY(-20px);
  }
  98.522% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}


