@import "@styles/common.scss";

.letters {
  @extend .no-select;

  display: grid;
  gap: 0.12em;
  grid-template-columns: repeat(5, 1.3em);

  &.shaking {
    animation: shake 300ms ease;
  }

  &.disabled .letter {
    --self-color-bg: var(--letter-disabled-color-bg);
    --self-color-fg: var(--letter-wrong-color-fg);
    box-shadow: var(--self-box-shadow);
  }
}

.letter {
  @extend .btn;

  --self-color-bg: var(--letter-default-color-bg);
  --self-color-bd: var(--letter-default-color-bd);
  --self-box-shadow: 3px 8px 8px -9px rgba(0, 0, 0, 0.1);

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;

  min-height: 100%;

  box-shadow: var(--self-box-shadow), inset 0 0 0 2px var(--self-color-bd);

  background-color: var(--self-color-bg);
  color: var(--self-color-fg);

  text-transform: uppercase;
  font-weight: 700;

  border-radius: 5%;

  transition: transform 69ms ease-in-out, box-shadow 80ms ease-in-out;

  &.focused {
    box-shadow: var(--self-box-shadow), inset 0 0 0 2px var(--self-color-bd),
      inset 0px clamp(-10px, -1.5vh, -8px) 0px var(--self-color-bd);
  }

  &.right {
    --self-color-bg: var(--letter-right-color-bg) !important;
    --self-color-fg: var(--letter-right-color-fg) !important;
  }
  &.occur {
    --self-color-bg: var(--letter-occur-color-bg) !important;
    --self-color-fg: var(--letter-occur-color-fg) !important;
  }
  &.wrong {
    --self-color-bg: var(--letter-wrong-color-bg) !important;
    --self-color-fg: var(--letter-wrong-color-fg) !important;
  }
  &.right,
  &.occur,
  &.wrong {
    box-shadow: var(--self-box-shadow);
  }

  --self-bounce-scale: 1.2;
  &.bouncing {
    transform: scale(var(--self-bounce-scale));
  }
  &.jumping {
    animation: jump calc(4 * 900ms / 9) ease-in-out 0ms 1;
  }

  &.reveal {
    transition: background-color 340ms ease-out, transform 170ms ease-in-out;
    --self-bounce-scale: 1.25;
  }
}
