@media screen and (max-width: 600px) {
  .header {
    .strong {
      font-size: 1.5rem !important;
    }
    .right {
      position: absolute;
      right: 0.5rem;
      top: 3rem;

      visibility: hidden;
      opacity: 0;

      z-index: 20;

      display: flex;
      flex-direction: column;

      padding: 0.2rem 0.5rem;
      margin: 0 !important;

      background-color: var(--dropdown-color-bg);
      border-radius: 7px;

      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

      transition: visibility 0ms linear 300ms, opacity 300ms ease;

      &.visible {
        visibility: visible;
        opacity: 1;
        transition: visibility 0ms linear 0ms, opacity 300ms ease;
      }

      .btn {
        justify-content: space-between !important;
        margin: 0.2rem 0 !important;
        height: 3rem !important;
        width: 100% !important;
        padding: 2px !important;

        &:hover {
          label {
            color: var(--default-color-fg) !important;
          }
          i {
            color: var(--default-color-fg) !important;
            background-color: var(--default-color-accent);
          }
        }

        label {
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          display: block !important;
          letter-spacing: 1px;
        }

        i {

          display: grid;
          place-items: center;

          height: 100%;
          width: 3rem !important;
          background-color: var(--letter-default-color-bd);
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
          padding: 0.2rem 0.8rem;
          border-radius: 4px;
        }
      }
    }
    .menu {
      position: absolute;
      display: flex !important;
      top: 0.4rem;
      right: 1.2rem;

      margin: 0 !important;
      padding: 0 !important;
    }
  }


  .board .row.letters {
    height: clamp(3.5rem, 8vh, 5.5rem) !important;

    .letter {
      width: clamp(3.7rem, 8.1vh, 5.7rem) !important;
      font-size: clamp(1.7rem, 6vh, 2.5rem) !important;
    }
  }


  .modal {
    .copy-btn {
      min-width: 60%;
      margin-right: 7px;
      padding: initial 0px;
      font-size: 1.1rem !important;
      i {
        margin-right: 3px !important;
      }
    }
    .timer {
      font-size: 1.1rem !important;
    }
  }
}
