@media screen and (min-width: 601px) {
  .modal {
    &::-webkit-scrollbar {
      background-color: var(--default-color-bg);
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      width: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--letter-default-color-bd);
      border-radius: 0.1rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .header {
    #mode-selector.open {
      flex-direction: column !important;
      height: auto !important;
      min-width: 100% !important;

      margin: 0 !important;
      padding: 2px 2px !important;

      .icon {
        min-width: 100% !important;
        height: 2rem !important;

        border-radius: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        font-size: 1.1rem;

        i {
          font-size: 1.2rem;
          padding: 0;
          max-width: min-content;
        }

        &:before {
          content: attr(data-legend);
          font-family: var(--default-font-family);
          margin-right: 3px;
        }
      }
      .modes {
        flex-direction: column !important;

        padding-left: 0.5rem;
        align-items: baseline !important;

        .mode {
          padding: 0.5rem 0;
          width: 90%;

          font-size: 1.1rem;
        }
      }
    }
    .right {
      position: absolute;
      right: 0.5rem;
      top: 3rem;

      visibility: hidden;
      opacity: 0;

      z-index: 20;

      display: flex;
      flex-direction: column;

      padding: 0.2rem 0.5rem;
      margin: 0 !important;

      background-color: var(--dropdown-color-bg);
      border-radius: 4px;

      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

      transition: visibility 0ms linear 300ms, opacity 300ms ease;

      &.visible {
        visibility: visible;
        opacity: 1;
        transition: visibility 0ms linear 0ms, opacity 300ms ease;
      }

      .btn {
        justify-content: space-between !important;
        margin: 0.2em 0 !important;
        min-height: 3em !important;
        width: 100% !important;
        padding: 2px !important;

        &:hover {
          .label {
            color: var(--default-color-fg) !important;
          }
          i {
            color: var(--default-color-fg) !important;
            background-color: var(--default-color-accent);
          }
        }

        .label {
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          display: block !important;
          letter-spacing: 1px;
        }

        i {
          display: grid;
          place-items: center;

          height: 100%;
          width: 3rem !important;
          background-color: var(--letter-default-color-bd);
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
          padding: 0.2rem 0.8rem;
          border-radius: 4px;
        }
      }
    }
    .menu {
      position: absolute;
      display: flex !important;
      top: 0.4rem;
      right: 1.2rem;

      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    .strong {
      font-size: 1.7rem !important;
    }
  }

  .board {
    &.lingle {
      font-size: clamp(1.2rem, 10.3vw, 2.6rem) !important;
    }
    &:not(.lingle) {
      font-size: clamp(1.2rem, 6.2vw, 3.8rem) !important;

      .row.letters {
        display: grid;
        gap: 0.12em;
        grid-template-columns: repeat(5, 1.3em);
        .letter {
          aspect-ratio: 1;
          &.focused {
            box-shadow: var(--self-box-shadow),
              inset 0 0 0 2px var(--letter-focused-color-bd),
              inset 0px -15px 0px -10px var(--letter-focused-color-bd);
          }
        }
      }
    }
  }

  .modal {
    .copy-btn {
      margin-right: 7px;
      font-size: 1.1em !important;
      .icon {
        margin-right: 3px !important;
      }
    }
    .timer {
      font-size: min(4vw, 1.2em) !important;
      min-width: max-content;
    }
  }
}
