:root {
  --default-color-bg: hsl(215, 18%, 23%);
  --default-color-fg: hsl(207, 86%, 92%);
  --default-color-accent: hsl(144, 41%, 54%);

  --header-color-bg: var(--default-color-bg);
  --header-color-fg: var(--default-color-fg);

  --dropdown-color-bg: hsl(230, 10%, 26%);
  --modal-color-bg: hsl(209, 5%, 12%);

  --key-color-bg: hsl(209, 17%, 29%);
  --key-color-fg: var(--default-color-fg);
  --key-highlight-color-bg: hsl(230, 6%, 26%);

  --key-right-color-bg: var(--letter-right-color-bg);
  --key-right-color-fg: var(--letter-right-color-fg);
  --key-wrong-color-bg: var(--letter-wrong-color-bg);
  --key-wrong-color-fg: hsla(207, 86%, 92%, 0.8);
  --key-occur-color-bg: var(--letter-occur-color-bg);
  --key-occur-color-fg: var(--letter-occur-color-fg);

  --letter-default-color-bg: hsl(230, 8%, 18%);
  --letter-default-color-fg: var(--default-color-fg);
  --letter-default-color-bd: hsl(195, 17%, 43%);

  --letter-disabled-color-bg: hsl(209, 17%, 26%);
  --letter-disabled-color-fg: var(--letter-default-color-fg);

  --letter-focused-color-bg: var(--letter-default-color-bg);
  --letter-focused-color-fg: var(--letter-default-color-fg);
  --letter-focused-color-bd: var(--letter-default-color-bd);

  --letter-wrong-color-bg: hsl(209, 17%, 17.5%);
  --letter-wrong-color-fg: var(--letter-default-color-fg);
  --letter-right-color-bg: hsl(144, 41%, 54%);
  --letter-right-color-fg: var(--letter-default-color-fg);
  --letter-occur-color-bg: hsl(41, 71%, 60%);
  --letter-occur-color-fg: var(--letter-default-color-fg);

  --message-info-color-bd: hsl(207, 41%, 35%);
  --message-info-color-bg: hsl(207, 53%, 49%);
  --message-info-color-fg: var(--default-color-fg);
  --message-error-color-bd: hsl(0, 41%, 35%);
  --message-error-color-bg: hsl(0, 53%, 49%);
  --message-error-color-fg: var(--default-color-fg);

  --default-font-family: "Lilita One", sans-serif;
  --default-font-size: 1rem;

  --header-height: 3rem;
  --keyboard-height: clamp(7rem, 30%, 12.4rem);
  --boards-height: calc(100% - var(--keyboard-height) - var(--header-height));
}
