* {
  box-sizing: border-box;
  color: var(--default-color-fg);

  font-family: var(--default-font-family);
  font-weight: 300;
}

button {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
}

html,
body {
  padding: 0;
  margin: 0;

  width: 100vw;
  height: 100%;
}

body {
  background-color: var(--default-color-bg);
  overflow-y: hidden;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  position: relative;
  overflow: visible !important;

  color: var(--default-color-accent) !important;

  transition: color 80ms ease;
  &:visited {
    color: var(--default-color-fg);
  }
  &:hover,
  &:focus {
    color: var(--default-color-accent) !important;
    &:after {
      width: 100%;
    }
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);

    width: 0%;
    height: 4px;
    background: var(--default-color-accent);
    opacity: 0.6;
    transition: width 60ms ease-in-out;
  }
}

:is(i) {
  font-weight: normal !important;
}

#root,
#app {
  width: 100%;
  height: 100%;
  background-color: var(--default-color-bg);
  overflow-x: hidden;
}

#app {
  display: grid;
  grid-template-rows: var(--header-height) var(--boards-height) var(
      --keyboard-height
    );
  grid-template-areas: "header" "boards" "keyboard";

  .message {
    position: absolute;

    top: calc(3.2rem - 4px);
    left: 50%;

    z-index: 100;

    transform: translate(-50%, 0);

    padding: 0.7em 0.84em;
    max-width: 90vw;
    width: max-content;

    font-size: 1.07em;
    font-weight: normal;

    border-radius: 4px;
    background-color: var(--self-color-bg);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      3px 2px 0 2px var(--self-color-bd);

    color: var(--self-color-fg);

    display: flex;
    flex-direction: column;
    justify-content: center;

    .text {
      line-height: 1.4em;
    }
    .options {
      margin-top: 0.4em;
      display: flex;
      gap: 0.7em;
      .option {
        @extend .no-select;

        padding: 0.3em 0.7em;
        font-size: 1.04em;

        color: var(--letter-wrong-color-fg);
        background-color: #00000050;
        // font-weight: 600;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 4px;

        &:hover {
          box-shadow: inset 0 0 0px 100px rgba(255, 255, 255, 0.07),
            0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        }
        &:active {
          box-shadow: inset 0 0 0px 100px rgba(255, 255, 255, 0.14),
            0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        }
      }
    }

    &.hidden {
      visibility: hidden;
    }

    &.info {
      --self-color-bd: var(--message-info-color-bd);
      --self-color-bg: var(--message-info-color-bg);
      --self-color-fg: var(--message-info-color-fg);
    }
    &.error {
      --self-color-bd: var(--message-error-color-bd);
      --self-color-bg: var(--message-error-color-bg);
      --self-color-fg: var(--message-error-color-fg);
    }
  }
}
