* {
  box-sizing: border-box;
  color: var(--default-color-fg);

  font-family: var(--default-font-family);
  font-weight: 300;
}

button {
  background-color: transparent;
  outline: none;
}

html,
body {
  padding: 0;
  margin: 0;

  width: 100vw;
  height: 100%;
}

body {
  background-color: var(--default-color-bg);
  overflow-y: hidden;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  position: relative;
  overflow: visible !important;

  color: var(--default-color-accent) !important;

  transition: color 80ms ease;
  &:visited {
    color: var(--default-color-fg);
  }
  &:hover,
  &:focus {
    color: var(--default-color-accent) !important;
    &:after {
      width: 100%;
    }
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);

    width: 0%;
    height: 4px;
    background: var(--default-color-accent);
    opacity: 0.6;
    transition: width 60ms ease-in-out;
  }
}

:is(i) {
  font-weight: normal !important;
}

#app {
  width: 100%;
  height: 100%;

  background-color: var(--default-color-bg);
  overflow-x: hidden;

  display: grid;
  grid-template-rows: var(--header-height) var(--boards-height) var(
      --keyboard-height
    );
  grid-template-areas: "header" "boards" "keyboard";

  .message {
    position: absolute;

    top: calc(3.2rem - 4px);
    left: 50%;

    z-index: 100;

    transform: translate(-50%, 0);

    padding: 0.7em 0.84em;
    max-width: 90vw;
    width: max-content;

    font-size: 1.07em;
    font-weight: normal;

    border-radius: 4px;
    background-color: var(--self-color-bg);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      3px 2px 0 2px var(--self-color-bd);

    color: var(--self-color-fg);

    display: flex;
    flex-direction: column;
    justify-content: center;

    .text {
      line-height: 1.4em;
    }
    .options {
      margin-top: 0.4em;
      display: flex;
      gap: 0.7em;
      .option {
        @extend .no-select;

        padding: 0.3em 0.7em;
        font-size: 1.04em;

        color: var(--letter-wrong-color-fg);
        background-color: #00000050;
        // font-weight: 600;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 4px;

        &:hover {
          box-shadow: inset 0 0 0px 100px rgba(255, 255, 255, 0.07),
            0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        }
        &:active {
          box-shadow: inset 0 0 0px 100px rgba(255, 255, 255, 0.14),
            0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        }
      }
    }

    &.hidden {
      visibility: hidden;
    }

    &.info {
      --self-color-bd: var(--message-info-color-bd);
      --self-color-bg: var(--message-info-color-bg);
      --self-color-fg: var(--message-info-color-fg);
    }
    &.error {
      --self-color-bd: var(--message-error-color-bd);
      --self-color-bg: var(--message-error-color-bg);
      --self-color-fg: var(--message-error-color-fg);
    }
  }


  .keyboard-wrapper {
    @extend .no-select;

    background-color: var(--default-color-bg);

    display: grid;
    place-items: center;
    grid-area: "keyboard";
  }
}


.example {
  .letters {
    gap: 2rem;
  }
  section .letters {
    grid-template-columns: 1.3em;
    margin-right: 1em !important;
  }
}

.keyboard {
  width: min(700px, 100%);
  height: 90%;
  position: relative;

  .row {
    max-width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.05rem;
    font-size: clamp(1.2rem, 2vw, 1.4rem);

    &:last-of-type {
      margin-bottom: 0;
    }

    .key {
      @extend .btn;
      --self-left-bg: var(--key-color-bg);
      --self-right-bg: var(--key-color-bg);

      height: 90%;
      width: 9%;
      margin: 0 min(0.2rem, 0.6%);

      i {
        color: var(--key-color-fg);
      }

      display: grid;
      place-items: center;
      font-size: 1em;

      border-radius: 4px;
      border: none;

      background-image: linear-gradient(
        90deg,
        var(--self-left-bg) 50%,
        var(--self-right-bg) 50%
      );
      color: var(--key-color-fg);
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

      text-transform: uppercase;
      font-weight: 500;

      transition-duration: 496ms;
      transition-timing-function: ease;
      transition-property: background-image, color;

      &.special {
        &.backspace {
          margin-left: 0.3rem;
          --self-width: min(4.8rem, 11%);
        }
        &.enter {
          margin-left: 0.5rem;
          --self-width: min(7rem, 22.2%);
        }
        width: var(--self-width);
      }

      &.wrong,
      &.wrong-left.wrong-right {
        --self-left-bg: var(--key-wrong-color-bg);
        --self-right-bg: var(--key-wrong-color-bg);
        color: var(--key-wrong-color-fg);
      }
      &.right,
      &.right.left.right-right {
        --self-left-bg: var(--key-right-color-bg);
        --self-right-bg: var(--key-right-color-bg);
        color: var(--key-right-color-fg);
      }
      &.occur,
      &.occur-left.occur-right {
        --self-left-bg: var(--key-occur-color-bg);
        --self-right-bg: var(--key-occur-color-bg);
        color: var(--key-occur-color-fg);
      }

      &.wrong-left {
        --self-left-bg: var(--key-wrong-color-bg);
      }
      &.wrong-right {
        --self-right-bg: var(--key-wrong-color-bg);
      }
      &.right-left {
        --self-left-bg: var(--key-right-color-bg);
      }
      &.right-right {
        --self-right-bg: var(--key-right-color-bg);
      }
      &.occur-left {
        --self-left-bg: var(--key-occur-color-bg);
      }
      &.occur-right {
        --self-right-bg: var(--key-occur-color-bg);
      }

      &.highlighted {
        opacity: 0.7;
      }
    }
  }
}

.modal-wrapper {
  z-index: 13;

  position: absolute;
  width: 100%;
  height: 100%;

  visibility: hidden;

  &.visible {
    visibility: visible;

    .modal,
    .overlay {
      transition: visibility 0ms linear 0ms, opacity 300ms ease;

      visibility: visible;
      opacity: 1;
    }
    :is(.overlay) {
      opacity: 0.5;
    }
  }

  .overlay {
    width: 100%;
    height: 100%;

    background-color: var(--overlay-color-bg);

    transition: visibility 0ms linear 300ms, opacity 300ms ease;
    visibility: hidden;
    opacity: 0;
  }

  .modal {
    position: absolute;
    top: 5.7rem;
    left: 50%;

    z-index: 15;

    transform: translateX(-50%);

    width: min(95vw, 50rem);
    // height: min(85%, 40rem);
    max-height: min(83%, 40rem);

    padding: 30px 0 1rem 0;

    background-color: var(--default-color-bg);
    color: var(--default-color-fg);
    border-radius: 1rem;
    box-shadow: 0px 10px 30px -6px rgba(0, 0, 0, 0.4);

    transition: visibility 0ms linear 300ms, opacity 300ms ease;
    visibility: hidden;
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
    font-size: clamp(0.8rem, 2vw, 0.9rem);

    .title {
      font-size: 1.4em !important;
      text-align: center;
      margin-bottom: 1.2rem;
      font-weight: 700;
    }
  }
}
.modal.stats {
  display: grid;
  grid-template-rows: 1.4em 1fr 1fr 1fr auto;
  grid-template-columns: 100%;
  place-items: center;

  .summary {
    width: min(100%, 47rem);
    position: relative;

    display: flex;
    justify-content: center;

    div {
      display: flex;
      flex-direction: column;
      text-align: center;
      // background-color: #fff;

      width: 100%;
      // font-size: 1.2em;

      span:first-child {
        // line-height: 3.3rem;
        font-size: 2.7em;
        font-weight: 500;
        color: var(--default-color-accent);
      }
      span:last-child {
        margin-top: -0.2em;
        font-size: 0.9em;
        line-height: 1em;
        font-weight: 500;
        color: var(--letter-default-color-bd);
      }

      padding: 0.4em 0.7em;
    }
  }
  .solutions {
    margin-top: 1.2em;
    padding: 1.2em 3em;
    padding-top: 0.9rem;
    border-radius: 1rem;
    background-color: #00000020;

    font-size: min(3.9vw, 1.2em);

    .title {
      font-size: 1em !important;
      font-weight: 500;
    }

    p {
      margin: 0;
      text-align: center;
      font-size: 1.12em;
      font-weight: 300;
      color: var(--default-color-accent);
    }
  }

  .chart {
    position: relative;

    width: 85%;
    min-height: 16em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5em 0;

    // background-color: #fff;
    margin-top: 2.5em;

    .title {
      position: absolute;
      top: 0;
      left: 50%;
      font-size: 1.3em !important;
      transform: translateX(-50%);
      width: max-content;
      max-width: 100%;
    }

    .line-wrapper {
      display: flex;

      height: 12.6%;

      padding: 0;
      margin: 0;

      min-width: 4.5rem;

      &:not(:first-of-type) {
        margin: 1px 0 0;
      }

      &:last-of-type .line {
        background-color: var(--letter-wrong-color-bg);
        color: var(--letter-wrong-color-fg);
      }

      &.empty {
        min-width: 5rem;
        width: 4rem;

        .line {
          visibility: hidden;
        }
      }

      .legend {
        position: relative;
        min-width: 2.1rem;
        text-align: center;
        font-size: 1.2em;
        padding-right: 0.6rem;
        color: var(--letter-default-color-bd);

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 500;

        height: 100%;

        display: flex;

        &:before {
          content: "";
          width: 2px;
          height: calc(100% + 5px);
          background-color: var(--default-color-accent);
          position: absolute;
          right: 6px;
        }
      }
      .line {
        display: flex;
        align-items: center;
        justify-content: end;

        width: 100%;
        height: 100%;

        font-size: 1em;
        padding-right: 0.5rem;

        font-weight: 500;

        background: var(--default-color-accent);
        border-radius: 4px;
      }
    }
  }

  .footer {
    margin-top: 1rem;
    width: 85%;
    // background-color: red;
    min-height: 6rem;

    display: flex;
    align-items: center;

    justify-content: space-between;

    .copy-btn {
      @extend .no-select;

      position: relative;

      display: flex;
      place-items: center;
      justify-content: center;

      background: linear-gradient(
        90deg,
        var(--default-color-accent),
        var(--default-color-second),
        var(--default-color-accent)
      );
      padding: 1.2rem 1em;
      text-align: center;
      font-size: 1.2rem;
      border-radius: 4px;
      width: 50%;
      outline: none;
      border: 0;
      font-weight: 500;

      transition: box-shadow 300ms ease, background-position 40ms ease;

      &:hover {
        box-shadow: inset 0 0 0px 100px rgba(255, 255, 255, 0.1);
        background-position: 20rem;
      }
      &:active {
        &:before {
          opacity: 0.3;
          width: 103%;
          height: 109%;
        }
      }

      &:before {
        content: "";
        transition: opacity 100ms ease, width 100ms linear, height 100ms linear;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        border-radius: inherit;
        background-color: #c5d3e0;
      }

      > i {
        margin-right: 5px;
      }
    }

    .timer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 500;

      span:nth-child(1) {
        color: var(--letter-default-color-bd);
      }
      span:nth-child(2) {
        line-height: 1.2em;
        font-size: 1.4em;
      }
    }
  }
}

.modal.htp {
  line-height: 1.4em;
  .about {
    font-size: 1.1em;
    width: 85%;
    margin-top: -1.2em;
  }
  .instruction {
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // margin-top: 1rem;
    p {
      margin-top: 0;
      margin-bottom: 0.5em;
      font-size: 1.1em;
    }
  }
  .examples {
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -1em;

    .title {
      font-size: 1.5em !important;
    }

    .example {
      section {
        margin-top: 0.6em;
        margin-bottom: 1.2em;

        width: 100%;
        font-size: 1.1em;

        display: flex;
        align-items: center;

        .letters {
          height: 1.7em !important;
          display: block !important;
          margin-right: 0.4em !important;
          .letter {
            font-size: min(6vh, 1.3em) !important;
          }
        }
      }
      .letters {
        display: grid !important;
        grid-template-columns: repeat(5, 3em) !important;
        grid-template-rows: 3em;
        gap: 0.2em;

        .letter {
          aspect-ratio: 1 / 1;
          font-size: 1.9em;
        }
      }
    }
  }
}

.modal.prefs {
  padding-bottom: 4em;
  .theme-selector {
    width: 80%;
    font-size: 1.2rem;

    display: flex;
    flex-direction: column;

    .label {
      font-weight: 500;
      margin-bottom: 0.5em;
    }

    .themes {
      display: flex;
      width: min(21em, 90%);
      height: 2.8em;

      align-self: center;

      --self-border-radius: 4px;
      border-radius: var(--self-border-radius);

      background-color: var(--letter-wrong-color-bg);

      .theme {
        @extend .btn;
        @extend .no-select;

        width: 7em;

        display: flex;
        line-height: 2em;
        padding: 0 0.3em;
        align-items: center;
        justify-content: center;
        color: var(--letter-wrong-color-fg);

        &:first-child {
          border-top-left-radius: var(--self-border-radius);
          border-bottom-left-radius: var(--self-border-radius);
        }
        &:last-child {
          border-top-right-radius: var(--self-border-radius);
          border-bottom-right-radius: var(--self-border-radius);
        }

        &.active {
          background-color: var(--letter-right-color-bg);
          color: var(--letter-right-color-fg);
        }
      }
    }
  }
}
