* {
  box-sizing: border-box;
  color: var(--default-color-fg);

  font-family: var(--default-font-family);
}

body {
  padding: 0;
  margin: 0;

  width: 100vw;

  background-color: var(--default-color-bg);
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  position: relative;
  overflow: visible !important;

  color: var(--default-color-accent) !important;

  transition: color 80ms ease;
  &:visited {
    color: var(--default-color-fg);
  }
  &:hover,
  &:focus {
    color: var(--default-color-accent) !important;
    &:after {
      width: 100%;
    }
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);

    width: 0%;
    height: 4px;
    background: var(--default-color-accent);
    opacity: 0.6;
    transition: width 60ms ease-in-out;
  }
}

#app {
  max-height: 100vh;
  width: 100%;

  font-family: sans-serif;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  .message {
    position: absolute;
    top: calc(3.2rem - 4px);
    left: 50%;

    z-index: 10;

    transform: translate(-50%, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.2rem 0.84rem;

    max-width: 90vw;
    width: max-content;
    height: 2rem;

    font-size: 1.07em;
    font-weight: normal;

    border-radius: 6px;
    background-color: var(--self-color-bg);
    color: var(--self-color-fg);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      3px 2px 0 2px var(--self-color-bd);

    &.hidden {
      visibility: hidden;
    }

    &.info {
      --self-color-bd: var(--message-info-color-bd);
      --self-color-bg: var(--message-info-color-bg);
      --self-color-fg: var(--message-info-color-fg);
    }
    &.error {
      --self-color-bd: var(--message-error-color-bd);
      --self-color-bg: var(--message-error-color-bg);
      --self-color-fg: var(--message-error-color-fg);
    }
  }

  .header {
    background-color: var(--header-color-bg);
    width: 100%;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 1rem;

    * {
      color: var(--header-color-fg);
    }
    .left,
    .right {
      display: flex;
      align-items: center;

      &:first-child {
        margin-left: 0rem;
      }
      &:last-child {
        margin-right: 0rem;
      }

      .btn {
        @extend .no-select;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: 0 0.2rem;

        height: 2.2rem;
        width: 2.3rem;
        padding: 0 0.8rem;

        border: 2px solid var(--letter-default-color-bd);
        border-radius: 7px;

        transition: border-color 160ms ease, color 160ms ease;

        &:hover {
          border-color: var(--default-color-accent);
          * {
            color: var(--default-color-accent);
          }
        }
        label {
          cursor: pointer;
          display: none;
        }
      }
    }

    .menu {
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      color: var(--key-color-fg);

      margin: 0 0.2rem;

      height: 2.2rem;
      width: 2.3rem;
      padding: 0 0.8rem;

      border: 2px solid var(--letter-default-color-bd);
      border-radius: 7px;

      &:hover {
        border-color: var(--default-color-accent);
        * {
          color: var(--default-color-accent);
        }
      }
    }

    .strong {
      height: 2.8rem;
      font-size: 2rem;
      margin-left: 1rem;

      display: grid;
      place-items: center;

      text-transform: uppercase;
    }
  }

  .board-wrapper {
    @extend .no-select;

    background-color: var(--default-color-bg);

    margin-top: 2.1rem;

    width: 100%;
    flex-grow: 1;

    display: grid;
    place-items: center;
  }

  .keyboard-wrapper {
    @extend .no-select;

    background-color: var(--default-color-bg);

    width: 100%;
    height: 14rem;
    min-height: 7rem;

    display: grid;
    place-items: center;
  }
}

.header .btn-mode {
  .modes {
    display: none !important;
  }

  &.open {
    width: auto !important;
    padding: 2px 2px 2px 2px !important;

    label {
      display: none !important;
    }
    .icon {
      display: flex !important;
      justify-content: center;
      place-items: center;
      padding: 0 !important;

      height: 100%;
      width: 3rem !important;
      background-color: var(--letter-default-color-bd);
      border-radius: 4px !important;
      padding: 0.2rem 0.8rem;
      margin-left: 0 !important;
    }

    .modes {
      display: flex !important;
      justify-content: space-between;
      width: 100%;
      // background-color: red;
      margin-left: 0.4rem;
      margin-right: 4px;
      height: 100%;

      .mode {
        @extend a;
        position: relative;
        color: var(--default-color-fg) !important;

        display: flex;
        align-items: center;

        min-height: 100%;
      }
    }

    &:hover {
      border-color: var(--default-color-accent);
      .icon {
        background-color: var(--default-color-accent);
        &, i {
          color: var(--default-color-fg) !important;
        }
      }
    }
  }
}

.board {
  display: flex;
  flex-direction: column;

  .row.letters {
    height: clamp(3.5rem, 9vh, 5.5rem);

    .letter {
      width: clamp(3.8rem, 9.2vh, 5.8rem);
      font-size: clamp(2.7rem, 6vh, 4.2rem);
    }
  }
}

.letters {
  display: flex;
  flex-direction: row;

  &.shaking {
    animation: shake 300ms ease;
  }

  &.disabled .letter {
    --self-color-bg: var(--letter-disabled-color-bg);
    --self-color-fg: var(--letter-wrong-color-fg);
    box-shadow: var(--self-box-shadow);
  }
  &:not(.disabled) .letter {
    // --self-color-bg: var(--letter-default-color-bg);
    --self-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  &:not(:first-of-type) {
    margin-top: 1.1%;
  }

  .letter {
    @extend .btn;

    display: grid;
    place-items: center;

    height: 100%;

    box-shadow: var(--self-box-shadow),
      inset 0 0 0 2px var(--letter-default-color-bd);

    background-color: var(--self-color-bg);
    color: var(--self-color-fg);

    font-weight: 700;
    text-transform: uppercase;

    border-radius: 7px;

    transition: transform 60ms ease-in-out, box-shadow 80ms ease-in-out;

    &:not(:first-of-type) {
      margin-left: 1.5%;
    }

    &.focused {
      box-shadow: var(--self-box-shadow),
        inset 0 0 0 2px var(--letter-focused-color-bd),
        inset 0px -7px 0px 0px var(--letter-focused-color-bd);
    }

    &.right {
      --self-color-bg: var(--letter-right-color-bg);
      --self-color-fg: var(--letter-right-color-fg);
    }
    &.occur {
      --self-color-bg: var(--letter-occur-color-bg);
      --self-color-fg: var(--letter-occur-color-fg);
    }
    &.wrong {
      --self-color-bg: var(--letter-wrong-color-bg);
      --self-color-fg: var(--letter-wrong-color-fg);
    }
    &.right,
    &.occur,
    &.wrong {
      box-shadow: var(--self-box-shadow);
    }

    --self-bounce-scale: 1.2;
    &.bouncing {
      transform: scale(var(--self-bounce-scale));
    }
    &.jumping {
      animation: jump calc(4 * 900ms / 9) ease-in-out 0ms 1;
    }

    &.reveal {
      transition: background-color 940ms ease-out, transform 170ms ease-in-out;
      --self-bounce-scale: 1.25;
    }
  }
}

.keyboard {
  width: min(700px, 100%);
  height: 90%;
  position: relative;

  .row {
    max-width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;

    &:first-of-type .key {
      margin-bottom: 0;
    }

    .key {
      @extend .btn;

      height: 93%;
      width: 9%;
      margin: 0.43rem min(0.3rem, 0.6%);
      margin-bottom: 0;

      display: grid;
      place-items: center;
      font-size: 1.13rem;

      border-radius: 7px;
      border: none;

      --self-color-bg: var(--key-color-bg);
      background-color: var(--self-color-bg);

      color: var(--key-color-fg);
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

      text-transform: uppercase;

      transition: background-color 75ms ease;

      &.special {
        &.backspace {
          margin-left: 0.3rem;
          --self-width: min(4.8rem, 11%);
        }
        &.enter {
          margin-left: 0.5rem;
          --self-width: min(7rem, 22.2%);
        }
        width: var(--self-width);
      }

      &.wrong {
        --self-color-bg: var(--key-wrong-color-bg);
        color: var(--key-wrong-color-fg);
      }
      &.right {
        --self-color-bg: var(--key-right-color-bg);
        color: var(--key-right-color-fg);
      }
      &.occur {
        --self-color-bg: var(--key-occur-color-bg);
        color: var(--key-occur-color-fg);
      }

      &.highlighted {
        opacity: 0.7;
      }
    }
  }
}

.modal {
  position: absolute;
  top: 5.7rem;
  left: 50%;

  z-index: 15;

  transform: translateX(-50%);

  width: min(95vw, 50rem);
  height: min(85%, 40rem);
  max-height: min(83%, 40rem);

  padding: 1rem 0rem;

  // TODO: move to options.scss
  background-color: var(--modal-color-bg);
  color: var(--default-color-fg);
  border-radius: 1rem;
  box-shadow: 0px 10px 30px -6px rgba(0, 0, 0, 0.4);

  transition: visibility 0ms linear 300ms, opacity 300ms ease;
  visibility: hidden;
  opacity: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;

  &.visible {
    transition: visibility 0ms linear 0ms, opacity 300ms ease;

    visibility: visible;
    opacity: 1;
  }

  .title {
    font-size: 1.6rem !important;
    text-align: center;
    margin-bottom: 1.2rem;
  }
}
.modal.stats {
  .summary {
    width: min(100%, 35rem);
    position: relative;

    display: flex;
    // justify-content: space-between;
    justify-content: center;

    div {
      display: flex;
      flex-direction: column;
      text-align: center;

      width: 100%;

      span:first-child {
        line-height: 3.3rem;
        font-size: 2.5rem;
        color: var(--default-color-accent);
      }
      span:last-child {
        font-size: 1.1rem;
        line-height: 0.9rem;
        color: var(--letter-default-color-bd);
      }

      padding: 0.4rem 0;
      // background-color: blue;
    }
  }

  .chart {
    position: relative;

    width: 85%;
    min-height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 2.8rem;

    .title {
      position: absolute;
      left: 50%;
      top: -1.5rem;
      font-size: 1.3rem !important;
      transform: translateX(-50%);
      width: 90%;
    }

    .line-wrapper {
      display: flex;

      height: 11%;

      padding: 0;
      margin: 0;

      min-width: 4.5rem;

      &:not(:first-of-type) {
        margin: 5px 0 0;
      }

      &:last-of-type .line {
        background-color: var(--letter-wrong-color-bg);
      }

      &.empty {
        min-width: 5rem;
        width: 4rem;

        .line {
          visibility: hidden;
        }
      }

      .legend {
        position: relative;
        min-width: 2.1rem;
        text-align: center;
        font-size: 1.2rem;
        padding-right: 0.6rem;
        color: var(--letter-default-color-bd);

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;

        display: flex;

        &:before {
          content: "";
          width: 2px;
          height: calc(100% + 5px);
          background-color: var(--default-color-accent);
          position: absolute;
          right: 6px;
        }
      }
      .line {
        display: flex;
        align-items: center;
        justify-content: end;

        width: 100%;
        height: 100%;

        font-size: 1.2rem;
        padding-right: 0.5rem;

        background: var(--default-color-accent);
        border-radius: 7px;
      }
    }
  }

  .footer {
    // margin-top: 2rem;
    width: 85%;
    // background-color: red;
    min-height: 6rem;

    display: flex;
    align-items: center;

    justify-content: space-between;

    .copy-btn {
      @extend .no-select;

      position: relative;

      display: flex;
      place-items: center;
      justify-content: center;

      background: linear-gradient(
        90deg,
        var(--default-color-accent),
        #4c9b64,
        var(--default-color-accent)
      );
      padding: 1.2rem 1rem;
      text-align: center;
      font-size: 1.2rem;
      border-radius: 7px;
      width: 50%;
      outline: none;
      border: 0;

      transition: box-shadow 300ms ease, background-position 40ms ease;

      &:hover {
        box-shadow: inset 0 0 0px 100px rgba(255, 255, 255, 0.1);
        background-position: 20rem;
      }
      &:active {
        &:before {
          opacity: 0.3;
          width: 103%;
          height: 109%;
        }
      }

      &:before {
        content: "";
        transition: opacity 100ms ease, width 100ms linear, height 100ms linear;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        border-radius: inherit;
        background-color: #c5d3e0;
      }

      > i {
        margin-right: 5px;
      }
    }

    .timer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}

.modal.htp {
  .about {
    font-size: 1.1rem;
    width: 85%;
  }
  .instruction {
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    .instructions {
      margin-top: 0;
      margin-bottom: 0.4rem;
      font-size: 1.1rem;
    }
  }
  .examples {
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;

    .title {
      font-size: 1.5rem !important;
    }

    .example {
      section {
        margin-top: 0.6rem;
        margin-bottom: 1.2rem;

        width: 100%;
        font-size: 1.1rem;

        display: flex;
        align-items: center;

        .letters {
          height: min(9vh, 1.7rem) !important;
          margin-right: 0.3rem;
          .letter {
            font-size: min(6vh, 1.3rem) !important;
            margin: 0 0.3rem;
          }
        }
      }
      .letters {
        height: min(9vh, 2.9rem) !important;

        .letter {
          aspect-ratio: 1.05;
          width: auto;
          font-size: min(6vh, 1.9rem);
        }
      }
    }
  }
}
